.footer-container {
  background-color: #ee161e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  margin-top: 120px;
}

.space-class {
  display:flex;
  justify-content: space-between;
  align-items: center;
}


.footer-image {
  display: flex;
  height: auto;
  width: 250px;
}

