.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  img {
    display: flex;
    height: auto;
    width: 250px;
  }
}

.form-field {
  max-width: 400px;
  width: 100%;
}
