.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  .logo {
    background-color: red;
    height: 50px;
    width: 250px;
  }
}

.form-field {
  max-width: 400px;
  width: 100%;
}
