<header>
  <app-marvel-container>
    <span  class="header-container">
      <img src={{logoImage}} />
      <mat-form-field class="form-field" appearance="fill">
        <mat-label>Pesquise aqui</mat-label>
        <input matInput #input placeholder="Ex. Iron man">
        <!-- <mat-hint align="end">Tudo sobre o universo Marvel.</mat-hint> -->

        <button mat-icon-button matSuffix>
          <mat-icon aria-hidden="false" aria-label="search icon" class="icon-display">search</mat-icon>
        </button>
      </mat-form-field>
    </span>
  </app-marvel-container>
  <div class="header-options-container">
    <a mat-flat-button class="header-button fade" href="" target="_blank">Personagens</a>
    <a mat-flat-button class="header-button-middle fade" href="" target="_blank">Comics</a>
    <a mat-flat-button class="header-button fade" href="" target="_blank">Filmes</a>
  </div>
</header>

