.grid-button-container{
  display:flex;
  justify-content:space-around;
  margin-bottom:20px;
}

.heroes {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
  }
  grid-auto-rows: 250px;
  grid-gap: 20px;
  a {
    cursor: pointer;
    img {
      display: block;
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }
}


