.hero-info-container {
  display:flex;
  justify-content:space-between;
  @media screen and (max-width: 900px) {
    justify-content:flex-start;
    flex-direction:column;
  }
}

.thumb-config {
  margin-left: 20px;
  border-radius: 5px;
  display: flex;
  width: 100%;
  max-width: 400px;
  height:auto;
  @media screen and (max-width: 500px) {
    margin-left:0px;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  border-radius: 5px;
  cursor: pointer;
  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}

.comic-content {
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

.comic-img {
  border: solid 1px black;
  border-radius: 5px;
}

.example-header-image {
  background-size: cover;
}

.comic-title {
  min-height:48px;
}
